#causeOne {
    background: #ACDE85;
  }
  
  #causeTwo {
    background: #85C9DE;
  }
  
  #sources {
    background: #EAB86E;
    text-align: left;
  }
  
  .footnote {
    font-size: 0.55em;
    vertical-align: text-top;
    text-decoration: none;
  }
  
  h3,
  h4 {
    margin-top: 0.5rem !important;
  }